* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dm-sans {
  /* 
  <weight>: Use a value from 100 to 1000
  */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

body {
  background-color: #191d7b;
}

img {
  max-width: 100%;
}

.intro {
  text-align: center;
  max-width: 350px;
  margin: 60px auto;
}

.intro h1 {
  line-height: 1;
}

button {
  font-size: 20px;
  border: none;
  min-width: 350px;
  padding: 10px;
  margin: 8px auto;
  border-radius: 12px;
}

.download-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.browser-button {
  background-color: rgb(88, 101, 242);
  color: rgb(255, 255, 255);
}

.card {
  background-image: linear-gradient(
    to bottom,
    rgb(49, 36, 231),
    rgb(99, 89, 241)
  );
  border-radius: 30px;
  max-width: 460px;
  padding: 60px 20px;
  margin: 2px auto;
}

.card img {
  position: absolute;
  width: 100px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card video {
  border-radius: 30px;
  margin: 0px auto;
}
