* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191d7b;
}

h1 {
  font-family: "Sigmar", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;
  margin: 5px;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  margin: 5px;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 30px;
}

.intro {
  text-align: center;
  padding: 30px;
  margin: 0px auto;
}

.intro h1 {
  line-height: 1;
}

.btn {
  display: block;
  font-size: 20px;
  border: none;
  min-width: 350px;
  padding: 15px;
  margin: 15px auto;
  border-radius: 12px;
}

.download-btn {
  background-color: #ffffff;
  color: #000000;
}

.browser-btn {
  background-color: #5865f2;
  color: #ffffff;
}

.card {
  position: relative;
  background-image: linear-gradient(to bottom, #584df3, #7069ce);
  border-radius: 30px;
  padding: 60px 20px;
  margin: 0px auto;
}

.card img {
  position: absolute;
  width: 100px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card video {
  display: block;
  border-radius: 30px;
  margin: 20px auto;
}
