* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dm-sans {
  /* 
  <weight>: Use a value from 100 to 1000
  */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

body {
  background-color: rgb(15, 15, 105);
}

img {
  max-width: 100%;
}

.intro {
  text-align: center;
  max-width: 350px;
  margin: 60px auto;
}

.intro h1 {
  line-height: 1;
}

button {
  font-size: 20px;
  border: none;
  min-width: 350px;
  padding: 10px;
  margin: 8px auto;
  border-radius: 12px;
}

.download-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.browser-button {
  background-color: rgb(89, 99, 240);
  color: rgb(255, 255, 255);
}
